{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bs5/bootstrap.min.css' %}">
    <title>register</title>
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Quiz App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container my-4">
        {% if mag %}
       <p class="text-success">{{mag}}</p> 
        {% endif %}
        <h2 class="my-4">register</h2>
        <form action="" method="post">
            <table class="table table-bordered">
                {% csrf_token %}
                {{form.as_table}}
                <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary"></td> 
                </tr>
            </table>
        </form>

      </div>
</body>
</html>